/*PRODUCT*/
section.product {
	padding-bottom: 20px;

	@media (min-width: $responsive-tablet) {
		padding-bottom: 40px;
	}

	h1 {
		font-size: 24px;
		color: #fff;
		margin-bottom: 15px;

		@media (min-width: $responsive-tablet) {
			font-size: 30px;
			margin-bottom: 25px;
		}
	}

	.product-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $responsive-tablet) {
			flex-wrap: nowrap;
		}
	}

	.photos {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 100%;

		@media (min-width: $responsive-tablet) {
			flex-basis: 75%;
			width: 75%;
			flex-wrap: nowrap;
		}
	}

	.product-price {
		flex-basis: 100%;
		margin-top: 20px;
		text-align: center;
		padding: 15px;
		background: #fff;
		color: #3c3c3c;

		@media (min-width: $responsive-tablet) {
			margin-top: 0;
			flex-basis: 25%;
			margin-left: 30px;
			padding: 30px 15px;
			align-items: center;
		}

		a {
			font-size: 16px;
			color: #3c3c3c;
			text-transform: uppercase;
			padding: 10px;
			display: block;
			background: #f8e755;
			font-weight: 700;

			&:hover {
				background: darken(#f8e755, 10%);
			}
		}
	}

	.old-price {
    text-decoration: line-through;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.current-price {
		font-size: 30px;
		margin-bottom: 25px;
	}

	.main-photo {
		flex-basis: 100%;
		margin-bottom: 15px;
		width: 100%;

		@media (min-width: $responsive-tablet) {
			margin-bottom: 0;
			margin-left: 15px;
			flex-basis: 84%;
			width: 84%;
		}

		img {
			margin: 0 auto;
		}
	}

	.thumbnails {
		display: flex;
		flex-wrap: nowrap;
		flex-basis: 100%;
		justify-content: center;
		width: 100%;

		@media (min-width: $responsive-tablet) {
			flex-basis: calc(100% - 84%);
			width: calc(100% - 84%);
			flex-wrap: wrap;
			order: -1;
		}
	}

	.thumb {
		flex-basis: auto;
		position: relative;
		cursor: pointer;
		outline: none;

		&:not(:last-child) {
			margin-right: 10px;

			@media (min-width: $responsive-tablet) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		&:after {
			width: calc(100% - 3px);
			height: calc(100% - 3px);
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border: 3px solid transparent;
			transition: 0.3s;

		}

		&:hover,
		&.active {

			&:after {
				border: 3px solid #f8e755;
			}
		}

		a {
			outline: none;
		}
	}

	.arrows {

		a {
			display: block;
			position: absolute;
			z-index: 1;
			padding: 20px 17px;
			background: rgba(0,0,0, .8);
			top: 40%;
			transform: translateY(-50%);

			@media (min-width: $responsive-tablet) {
				top: 50%;
			}

			&:before {
				display: block;
				content: '';
				width: 11px;
				height: 18px;
				margin: 0 auto;
				background: url("assets/images/sprite.png") no-repeat;
			}
		}

		.product-left {
			left: 10px;

			@media (min-width: $responsive-tablet) {
				left: calc(16% + 20px);
			}

			&:before {
				background-position: 0 -74px;
			}

			&:hover {
				padding-left: 25px;
			}
		}

		.product-right {
			right: 10px;

			&:before {
				background-position: -7px -93px;
			}

			&:hover {
				padding-right: 25px;
			}
		}
	}

	.options {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;

		@media (min-width: $responsive-tablet) {
			margin-top: 35px;
		}
	}

	.option {
		flex-basis: 100%;
		margin-bottom: 20px;
		color: #3c3c3c;

		@media (min-width: $responsive-tablet) {
			flex-basis: 50%;
		}

		p {
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		span {
			font-size: 18px;
		}
	}

	.color {
		width: 35px;
		height: 35px;
		display: inline-block;
		border-radius: 50%;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.black {
			background: #313131;
		}

		&.blue {
			background: #528dd0;
		}

		&.red {
			background: #dc4f4f;
		}
	}
}

section.product-tabs {
	padding-bottom: 35px;

	@media (min-width: $responsive-tablet) {
		padding-bottom: 45px;
	}

	.tabs-panel {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		border-bottom: 1px solid #c2c2c2;
	}

	li {
		border-bottom: 2px solid transparent;
		margin-bottom: -1px;

		&:not(:last-child) {
			margin-right: 5px;

			@media (min-width: $responsive-tablet) {
				margin-right: 25px;
			}

			@media (min-width: $responsive-laptop) {
				margin-right: 45px;
			}
		}

		&.active {
			border-bottom: 2px solid #f8e755;
		}
	}

	a {
		font-weight: 700;
		display: block;
		padding: 5px;
		text-transform: uppercase;
		color: #3c3c3c;
		font-size: 12px;
		outline: none;

		@media (min-width: $responsive-tablet) {
			font-size: 16px;
			padding: 10px;
		}
	}
}

.accordion {

	p {
		text-transform: uppercase;
		font-size: 16px;
		outline: none;
		color: #3c3c3c;
		letter-spacing: 1px;
		display: flex;
		padding: 14px 20px;
		background: #f0f0f0;
		align-items: center;
		font-weight: 700;
		cursor: pointer;
		transition: 0.3s;

		&:not(:last-of-type) {
			margin-bottom: 2px;
		}

		&:before {
			display: block;
			content: '';
			width: 11px;
			height: 7px;
			margin-right: 10px;
			background: url("assets/images/sprite.png") no-repeat 0px -112px;
		}

		&:hover {
			background: darken(#f0f0f0, 3%);
		}

		&+div {
			padding: 10px 0;
		}
	}

	table {
		width: 100%;

		td {
			padding: 10px 5px;

			&:first-child {
				color: #232323;
				font-size: 16px;
			}

			&:last-child {
				color: #6e6e6e;
			}
		}
	}
}

section.technical-data {

	padding-bottom: 35px;

	h2 {
		text-transform: uppercase;
		color: #3c3c3c;
		font-size: 22px;
		letter-spacing: 1px;
		margin-bottom: 15px;
		font-weight: 700;

		@media (min-width: $responsive-tablet) {
			margin-bottom: 25px;
		}
	}

	.data-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $responsive-tablet) {
			justify-content: space-between;
		}
	}

	.data-table {
		flex-basis: 100%;

		&:not(:last-child) {
			margin-bottom: 30px;

			@media (min-width: $responsive-tablet) {
				margin-bottom: 40px;
			}
		}

		@media(min-width: $responsive-tablet) {
			flex-basis: 49%;
		}
	}

	h3 {
		font-size: 17px;
		color: #3c3c3c;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 10px;
		letter-spacing: 1px;
		border-bottom: 2px solid #e4e4e4;
	}

	table {
		width: 100%;
	}

	td {
		padding: 8px 0;
		font-size: 16px;
		color: #3c3c3c;
		border-bottom: 2px solid #e4e4e4;

		&:first-child {			
			font-weight: 700;
		}

		&:last-child {
			text-align: right;
			padding-right: 10px;
		}
	}
}

section.similar {

	h4 {
		font-weight: 700;
		font-size: 26px;
		text-transform: uppercase;
		text-align: center;
		color: #3c3c3c;
		margin-bottom: 30px;
		letter-spacing: 1px;

		@media (min-width: $responsive-tablet) {
			margin-bottom: 70px;
		}
	}

	.similar-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $responsive-mobile) {
			justify-content: space-between;
		}
	}

	.similar-item {
		flex-basis: 100%;

		margin-bottom: 20px;

		@media (min-width: $responsive-mobile) {			
			flex-basis: 49%;
		}

		@media (min-width: $responsive-tablet) {
			flex-basis: 24%;
			margin-bottom: 0;
			max-width: 255px;
		}
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 10px;
		border: solid 1px #ccc;
		color: #3c3c3c;
		font-size: 16px;

		@media (min-width: $responsive-tablet) {
			padding: 15px;
		}

		&:hover {
			box-shadow: 0 0 12px rgba(0,0,0,.3);
		}
	}

	img {
		margin: 0 auto;
	}

	p {

		text-transform: uppercase;		
		font-weight: 700;		
		margin: 20px 0;
	}
}