/*SPECIAL OFFERS*/
.side-articles {

	.subtitle {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		padding: 10px;
		background: #7086b7;
	}

	article {
		padding: 20px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #dcdcdc;
		}

		&:last-child {
			padding-bottom: 45px;
		}
	}

	.title {
		font-size: 16px;
		color: #3b3b3b;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.publish-date {
		font-size: 14px;
		font-weight: 700;
		color: #000;
	}

	a {
		text-align: right;
		display: block;
		text-decoration: underline;
		font-style: italic;
		font-size: 14px;
		color: #6a6a6a;
		margin-top: 5px;

		&:hover {
			text-decoration: none;
		}
	}
}

section.special-offers {

	.offers-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $responsive-tablet) {
			justify-content: space-between;
		}
	}

	.offer {
		flex-basis: 100%;
		margin-bottom: 20px;

		@media (min-width: $responsive-tablet) {
			flex-basis: 49%;
			margin-bottom: 80px;
			max-width: 378px;
		}
	}

	h3 {
		margin: 20px 0;
		font-weight: 700;
		font-size: 18px;
		color: #2f2f2f;
	}

	span {
		font-size: 14px;
		color: #000;
	}

	p {
		margin: 10px 0 15px 0;
		font-size: 14px;
		color: #2f2d2e;
		line-height: 18px;
	}

	a {
		font-size: 14px;
		color: #6a6a6a;
		padding: 8px 37px;
		display: inline-block;
		border: solid 2px #7086b7;

		&:hover {
			color: #000;
			border-color: #000;
		}
	}
}


section.pagination {
	max-width: 540px;
	margin: 20px auto;

	@media (min-width: $responsive-tablet) {
		margin: 0 auto;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&>a {
			position: relative;
			display: flex;
			align-items: center;
			
			&.prev {

				&:before {
					display: block;
					content: '';
					width: 18px;
					height: 13px;
					margin-right: 5px;
					background: url("assets/images/sprite.png") no-repeat 0px -30px;

					@media (min-width: $responsive-tablet) {
						margin-right: 15px;
					}
				}
			}

			&.next {

				&:after {
					display: block;
					content: '';
					width: 18px;
					height: 13px;
					margin-left: 5px;
					background: url("assets/images/sprite.png") no-repeat 0px -43px;

					@media (min-width: $responsive-tablet) {
						margin-left: 15px;
					}
				}
			}
		}
	}

	a {
		font-size: 14px;
		font-weight: 700;
		color: #2f2d2e;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		display: flex;
		align-items: center;

		li {

			&:not(:last-child) {
				margin-right: 10px;

				@media (min-width: $responsive-tablet) {
					margin-right: 20px;
				}
			}
		}
	}
}